Package: chef-full
Version: VERSION 
Section: ruby
Priority: extra
Maintainer: Adam Jacob <adam@opscode.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.opscode.com 
Architecture: amd64 
Description: System integration framework written in Ruby
  Chef is a systems integration framework and configuration management library
  written in Ruby. Chef provides a Ruby library and API that can be used to
  bring the benefits of configuration management to an entire infrastructure.
  .
  Chef can be run as a client (chef-client) to a server, or run as a standalone
  tool (chef-solo). Configuration recipes are written in a pure Ruby DSL.
  .  
  This package contains a fully working stack, including Ruby, installed in
  /opt/opscode.
